In [1]:
import pandas as pd
import numpy as np
import os
import collections
from pprint import pprint

<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <style type="text/css"></style>
       
</head>

<body class="c14">
    <p class="c15"><span class="c7 c3">ETL Project Proposal</span></p>
    <p class="c15"><span class="c2 c9 c12">Raphael Vasquez</span></p>
    <p class="c5"><span class="c7 c3"></span></p>
    <p class="c15"><img src='images/graph.png' alt="Adolescent Fertility" width=850 height=550></p>
    <p class="c5"><span class="c3 c7"></span></p>
    <p class="c8 c11"><span class="c2 c3"></span></p>
    <p class="c16"><span class="c0">A. &nbsp;Overview</span></p>
    <p class="c8 c11"><span class="c2 c3"></span></p>
    <ul class="c6 lst-kix_gh5qn4kzvktm-0 start">
        <li class="c10"><span class="c2 c4 c9">Possible reasons and effects of decline in birthrates among general
                female population and adolescent females(15-19) &nbsp;worldwide.</span></li>
        <li class="c10"><span class="c2 c4 c9">Collection of Socioeconomic data points in past 20-30 years such as
                standard of living, population density, GDP per capita etc.</span></li>
        <li class="c10"><span class="c2 c4 c9">Consolidate sources from &nbsp;various global establishments via parsing
                and aggregation of different features into single relational database.</span></li>
        <li class="c10"><span class="c2 c4 c9">Aggregate data points into more easily analyzed time periods such as by
                decade.</span></li>
    </ul>
    <p class="c5"><span class="c2 c3"></span></p>
    <p class="c5"><span class="c2 c3"></span></p>
    <p class="c16"><span class="c0">B. Sources and Extraction Method</span></p>
    <p class="c8"><span class="c0"></span></p>
    <ul class="c6 lst-kix_obv5v4uzlj0u-0 start">
        <li class="c10"><span class="c4">Data: </span><span class="c1">Country Statistics: Birth Rate,<br></span><span
                class="c4">Source</span><span class="c1">:CIA Library</span><span class="c4"><br>Source Link:
            </span><span
                class="c1">https://www.cia.gov/library/publications/resources/the-world-factbook/rankorder/2054rank.html<br></span><span
                class="c4">Source Extraction Method: </span><span class="c1">SQL/DB2<br></span><span
                class="c4">Scope:</span><span class="c2 c1">~2015, world-wide</span></li>
        <li class="c10"><span class="c4">Data:</span><span class="c1">Contraceptive prevalence (% women 15-49) by
                country<br></span><span class="c4">Source:United Nations<br>Source Link</span><span class="c1">:
                http://data.un.org/Data.aspx?d=WDI&amp;amp;f=Indicator_Code%3aSP.DYN.CONU.ZS<br></span><span
                class="c4">Source Extraction Method:</span><span class="c1">&nbsp;SQL/DB2<br></span><span
                class="c4">Scope</span><span class="c2 c1">:~1968-2014, world-wide</span></li>
        <li class="c10"><span class="c4">Data:</span><span class="c1">Adolescent fertility rate (births per 1,000 women
                ages 15-19), worldwide<br></span><span class="c4">Source:</span><span class="c1">World
                Bank<br></span><span class="c4">Source Link: </span><span
                class="c1">http://data.un.org/Data.aspx?q=rate&amp;amp;d=WDI&amp;amp;f=Indicator_Code%3aSP.ADO.TFRT<br></span><span
                class="c4">Source Extraction Method: SQL/IDB2<br>Scope:</span><span class="c2 c1">~1960-2012,
                world-wide</span></li>
        <li class="c10"><span class="c4">Data:</span><span class="c1">Country Population by Gender
                1985-2005<br></span><span class="c4">Source</span><span class="c1">:United Nations<br></span><span
                class="c4">Source Link:</span><span
                class="c1">http://data.un.org/Data.aspx?d=GenderStat&amp;amp;f=inID%3a5<br></span><span
                class="c4">Source Extraction Method: </span><span class="c1">SQL/DB2</span><span
                class="c4"><br>Scope:</span><span class="c2 c1">~1960-2012, world-wide</span></li>
        <li class="c10"><span class="c4">Data:</span><span class="c1">Annual % population growth by country</span><span
                class="c4"><br>Source:</span><span class="c1">United Nations</span><span class="c4"><br>Source
                Link:</span><span class="c1">http://data.un.org/</span><span class="c4"><br>Source Extraction Method:
            </span><span class="c1">CSV</span><span class="c2 c4 c9"><br>Scope:~1960-2012, world-wide</span></li>
    </ul>
    <p class="c8"><span class="c2 c4 c9"></span></p>
    <p class="c8"><span class="c2 c4 c9"></span></p>
    <p class="c16"><span class="c0">C. Data Parsing</span></p>
    <p class="c8"><span class="c0"></span></p>
    <ul class="c6 lst-kix_p4x6xtx121si-0 start">
        <li class="c10"><span class="c2 c4 c9">Identify and parse out sub-populations in original data for improved data
                zooming</span></li>
    </ul>
    <p class="c8 c11"><span class="c2 c4 c9"></span></p>
    <p class="c8"><span class="c0"></span></p>
    <p class="c16"><span class="c0">D. Data Normalization</span></p>
    <p class="c8"><span class="c0"></span></p>
    <ul class="c6 lst-kix_ec8et0s15gqd-0 start">
        <li class="c10"><span class="c2 c4 c9">Normal dates into broader &ldquo;Decade&rdquo; period to reduce disparity
                in timelines in data sources.</span></li>
        <li class="c10"><span class="c2 c4 c9">Create a &ldquo;Rosetta Stone&rdquo; to align and capture country
                Identification methods e.g. full name or abbreviation</span></li>
        <li class="c10"><span class="c13 c4">&nbsp;</span><span class="c4">Regionalize countries based on either :
                geographic proximity, economic parity, or cultural similarity.</span><span
                class="c4 c13"><br></span><span class="c4"><br></span></li>
    </ul>
</body>

</html>

In [2]:
%load_ext sql

In [3]:
%sql ibm_db_sa://xrz59379:9kx3p%2Bstd9hmnm34@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB

'Connected: xrz59379@BLUDB'

<div>
    <H3>Tables to Query in IBM Db2 via SQL</H3>
    <ul>
        <li>Birth Rates</li>
        <li>Contraceptive Prevelance</li>
        <li>Birthrates Among Adoloescents</li>
    </ul>
</div>

In [8]:
%sql USE xrz59379
#Query Db2 tables and assign data table
birth_rate = %sql SELECT * FROM BIRTH_RATE
contraceptive_prevalence_f = %sql SELECT * FROM CONTRACEPTIVE_PREVALENCE_F
teen_birthrate = %sql SELECT * FROM TEEN_BIRTHRATE

 * ibm_db_sa://xrz59379:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: Statement Execute Failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0104N  An unexpected token "END-OF-STATEMENT" was found following "USE xrz59379".  Expected tokens may include:  "JOIN <joined_table>".  SQLSTATE=42601\r SQLCODE=-104 [SQL: 'USE xrz59379'] (Background on this error at: http://sqlalche.me/e/f405)
 * ibm_db_sa://xrz59379:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.
 * ibm_db_sa://xrz59379:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.
 * ibm_db_sa://xrz59379:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

In [10]:
#reassign data table to pandas dataframe...ONLY one run needed!
birth_rate = birth_rate.DataFrame()
contraceptive_prevalence_f = contraceptive_prevalence_f.DataFrame()
teen_birthrate = teen_birthrate.DataFrame()
birth_rate
contraceptive_prevalence_f
teen_birthrate.head()

   index      Country  Year     Value Notes
0      0  Afghanistan  2012   86.8440  None
1      1  Afghanistan  2011   92.9698  None
2      2  Afghanistan  2010   99.0956  None
3      3  Afghanistan  2009  105.2214  None
4      4  Afghanistan  2008  111.3472  None

In [ ]:
# %sql mysql+pymysql://root:PyncinCedtajde3@localhost/sakila

<div>
    <H3>Import CSV file to Pandas</H3>
    <ul>
        <li>Annual Population Growth</li>
    </ul>
</div>

In [11]:
# Establish path to csv file for static table
input_file1 =  os.path.join(r'Source Background', 'annual_population_growth.csv')

#assign csv to pandas dataframe
annual_population_growth = pd.read_csv(input_file1)
annual_population_growth.head()

  Country or Area  Year     Value  Value Footnotes
0     Afghanistan  2013  2.408807              NaN
1     Afghanistan  2012  2.440494              NaN
2     Afghanistan  2011  2.461437              NaN
3     Afghanistan  2010  2.458417              NaN
4     Afghanistan  2009  2.469929              NaN

<div>
<H3> Examine Field Headers in Each Table for Proper Naming Conventions, e.g....</H3>
    <ul>
        <li>Spaces between words</li>
        <li>Non-alpha numeric characters</li>
        <li>Ambigous titles</li>
    </ul>
</div>

In [12]:
b_rate = %sql select distinct(name), coltype, length from sysibm.syscolumns where tbname = 'BIRTH_RATE'
c_prev = %sql select distinct(name), coltype, length from sysibm.syscolumns where tbname = 'CONTRACEPTIVE_PREVALENCE_F'
t_bRate = %sql select distinct(name), coltype, length from sysibm.syscolumns where tbname = 'TEEN_BIRTHRATE'
print(b_rate)
print('\n')
print(c_prev)
print('\n')
print(t_bRate)

 * ibm_db_sa://xrz59379:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.
 * ibm_db_sa://xrz59379:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.
 * ibm_db_sa://xrz59379:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.
+---------------------+----------+--------+
|         name        | coltype  | length |
+---------------------+----------+--------+
| Births_per_thousand | DOUBLE   |   8    |
|       Country       | CLOB     |   -1   |
|      DateOfInfo     | CLOB     |   -1   |
|         Rank        | BIGINT   |   8    |
|        index        | BIGINT   |   8    |
+---------------------+----------+--------+


+---------+----------+--------+
|   name  | coltype  | length |
+---------+----------+--------+
| Country | CLOB     |   -1   |
|  Notes  | DOUBLE   |   8    |
|  Value  | DOUBLE   |   8    |
|   Year  | BIGINT   |   8    |
|  index  | BIGINT   |   8    |
+---------+----------+--------+


+---------+----------+--------+
|   name  | coltype  | length |
+---------+----------+--------+
| Country | CLOB     |   -1   |
|  Notes  | DOUBLE   |   8    |
|  Value  | DOUBLE   |   8    |
|   Year  | BIGINT   |   8    |
|  index  | BIGINT   |   8    |
+---------+----------+--------+

<div>
<H3> Make Necessary Changes to Field Headers Outside Convention</H3>
</div>

In [14]:
teen_birthrate.rename(columns={'Country or Area': 'Country', 'Value Footnotes':'Notes'}, inplace=True)
contraceptive_prevalence_f.rename(columns={'Country or Area': 'Country','Value Footnotes':'Notes'}, inplace=True)
annual_population_growth.rename(columns={'Country or Area': 'Country','Value Footnotes':'Notes'}, inplace=True)
birth_rate.rename(columns={'(BIRTHS/1,000 POPULATION)': 'Births_per_thousand', 'Date of Information':'DateOfInfo'}, inplace=True)

<H3>Pull Source DataFrames into 'Set' to Check for Membership</H3>
<small>Establish Dimension table for countries</small>

In [15]:
resources = ('annual_population_growth',
'birth_rate',
'contraceptive_prevalence_f',
'teen_birthrate')

tables = (annual_population_growth,
birth_rate,
contraceptive_prevalence_f,
teen_birthrate)
countries = {}

for table in tables:
    for resource in resources:
        x = set(table.loc[:,'Country'])
        countries.setdefault(resource, x)

<H4>Use Instersection Function of Set List to Derive a list of 'Member' Countries Present in Each Source File </H4>

In [16]:
country_intersection = countries['teen_birthrate'].intersection(countries['annual_population_growth'],
                                    countries['birth_rate'], countries['contraceptive_prevalence_f'])

In [17]:
#sort unique list of common countries and filter out non-alpha char via list comprehension
country_list = sorted([country for country in country_intersection if country.isalpha()])

#create pd.Series from country list as base for dimension table.
countries_table = pd.Series(country_list, name='Countries')
countries_table.head()

0    Afghanistan
1        Albania
2        Algeria
3        Andorra
4         Angola
Name: Countries, dtype: object

<div>
    <H3>Consolidate All Tables Into New Database in MySQL to Streamline SQL Statements</H3>
    <small>Instantiate each table and PERSIST in MySQL</small>
</div>

In [21]:
%sql mysql+pymysql://root:PyncinCedtajde3@localhost/birthrates

'Connected: root@birthrates'

In [18]:

#CREATE DATABASE IF NOT EXISTS birthrates;
# %sql USE birthrates;
 # %sql PERSIST annual_population_growth
# %sql PERSIST birth_rate
# %sql PERSIST contraceptive_prevalence_f
# %sql PERSIST teen_birthrate;
# %sql PERSIST countries_table

In [22]:
schema_info = %sql SELECT * FROM INFORMATION_SCHEMA.TABLES \
WHERE TABLE_SCHEMA = 'birthrates';
schema_info

   ibm_db_sa://xrz59379:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
 * mysql+pymysql://root:***@localhost/birthrates
6 rows affected.

[('def', 'birthrates', 'annual_population_growth', 'BASE TABLE', 'InnoDB', 10, 'Dynamic', 13377, 118, 1589248, 0, 294912, 4194304, None, datetime.datetime(2019, 2, 28, 20, 28, 7), datetime.datetime(2019, 2, 28, 20, 28, 7), None, 'latin1_swedish_ci', None, '', ''),
 ('def', 'birthrates', 'birth_rate', 'BASE TABLE', 'InnoDB', 10, 'Dynamic', 224, 219, 49152, 0, 16384, 0, None, datetime.datetime(2019, 2, 28, 20, 28, 59), datetime.datetime(2019, 2, 28, 20, 28, 59), None, 'latin1_swedish_ci', None, '', ''),
 ('def', 'birthrates', 'contraceptive_prevalence_f', 'BASE TABLE', 'InnoDB', 10, 'Dynamic', 1147, 114, 131072, 0, 49152, 0, None, datetime.datetime(2019, 2, 28, 20, 28, 59), datetime.datetime(2019, 2, 28, 20, 28, 59), None, 'latin1_swedish_ci', None, '', ''),
 ('def', 'birthrates', 'countries_table', 'BASE TABLE', 'InnoDB', 10, 'Dynamic', 151, 108, 16384, 0, 16384, 0, None, datetime.datetime(2019, 2, 28, 20, 34, 14), datetime.datetime(2019, 2, 28, 20, 34, 14), None, 'latin1_swedish_ci', None, '', ''),
 ('def', 'birthrates', 'start_tbl', 'BASE TABLE', 'InnoDB', 10, 'Dynamic', 11952, 132, 1589248, 0, 278528, 4194304, None, datetime.datetime(2019, 2, 28, 21, 34, 24), datetime.datetime(2019, 2, 28, 21, 34, 25), None, 'latin1_swedish_ci', None, '', ''),
 ('def', 'birthrates', 'teen_birthrate', 'BASE TABLE', 'InnoDB', 10, 'Dynamic', 11886, 133, 1589248, 0, 278528, 4194304, None, datetime.datetime(2019, 2, 28, 20, 28, 59), datetime.datetime(2019, 2, 28, 20, 29), None, 'latin1_swedish_ci', None, '', '')]

In [24]:
%sql USE birthrates;
start_tbl = %sql (SELECT t.Country, t.Year, t.Value as BirthsPer1000_Ado \
FROM teen_birthrate as t \
LEFT JOIN countries_table as ct \
ON t.Country = ct.Countries);
start_tbl = start_tbl.DataFrame()
# %sql USE birthrates
# %sql PERSIST start_tbl

   ibm_db_sa://xrz59379:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
 * mysql+pymysql://root:***@localhost/birthrates
0 rows affected.
   ibm_db_sa://xrz59379:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
 * mysql+pymysql://root:***@localhost/birthrates
11925 rows affected.

In [25]:
Ado_Birthrate_Safety = %sql SELECT b.Country, b.Year,b.BirthsPer1000_Ado, CP.Value AS Contraceptive_prevelence \
FROM start_tbl AS b LEFT JOIN contraceptive_prevalence_f AS CP \
ON (b.Country = CP.Country) AND (b.Year = CP.Year);

   ibm_db_sa://xrz59379:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
 * mysql+pymysql://root:***@localhost/birthrates
11925 rows affected.

In [31]:
# Ado_Birthrate_Safety = Ado_Birthrate_Safety.DataFrame()
Ado_Birthrate_Safety.head()
%sql PERSIST Ado_Birthrate_Safety

   ibm_db_sa://xrz59379:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
 * mysql+pymysql://root:***@localhost/birthrates

'Persisted ado_birthrate_safety'

In [34]:
Population_Fertility_dynamics = %sql SELECT b.Country, b.Year, b.BirthsPer1000_Ado, b.Contraceptive_prevelence, a.Value as Annual_growth_rate \
FROM Ado_Birthrate_Safety as b LEFT JOIN annual_population_growth as a \
ON (b.Country = a.Country) and (b.Year = a.Year);
Population_Fertility_dynamics = Population_Fertility_dynamics.DataFrame()
Population_Fertility_dynamics.head()
# %sql PERSIST Population_Fertility_dynamics

   ibm_db_sa://xrz59379:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
 * mysql+pymysql://root:***@localhost/birthrates
11925 rows affected.

,Country,Year,BirthsPer1000_Ado,Contraceptive_prevelence,Annual_growth_rate
0,Afghanistan,2012,86.8440,NaN,2.440494
1,Afghanistan,2011,92.9698,21.2,2.461437
2,Afghanistan,2010,99.0956,21.8,2.458417
3,Afghanistan,2009,105.2214,NaN,2.469929
4,Afghanistan,2008,111.3472,22.8,2.558909

In [58]:
Population_Fertility_dynamics.sort_values('Year', axis=0, inplace=True)
pfd = Population_Fertility_dynamics

year = [ str(x) for x in pfd['Year']]
# year = [f"{x}0's" for x in year[]]

decade = [f"{year[count][0:3]}0's" for count, x in enumerate(year)]
decade = pd.Series(decade,name='Decade')
pfd['Decade'] = decade.values

In [53]:
input_file9 =os.path.join(r'Source Background', 'Birthrate_Decade.csv')
Birthrate_Decade = pd.read_csv(input_file9)
Birthrate_Decade
year = [ str(x) for x in Birthrate_Decade['Year(s)']]
# # year = [f"{x}0's" for x in year[]]
decade = [ f"{year[count][0:3]}0's" for count, x in enumerate(year)]
decade = pd.Series(decade,name='Decade')
Birthrate_Decade['Decade'] = decade.values


bd_grp = Birthrate_Decade.groupby(['Country or Area', 'Decade'],as_index=False).mean()
bd_grp.rename(columns={'Value': 'Live Births per 1000'},inplace=True)
bd_grp['Country or Area'].replace('United States of America', 'United States',inplace=True)


pfd_grp = pfd.groupby(['Country', 'Decade'], as_index=False).mean()
PFD_BR_Grp = bd_grp.merge(pfd_grp,how='inner', right_on=['Country', 'Decade'], left_on=['Country or Area', 'Decade'])
PFD_BR_Grp.rename(columns={'BirthsPer1000_Ado': 'Live Births per 1000(Adolescent)'},inplace=True)
PFD_BR_Gp = PFD_BR_Grp.columns.drop(['Country', 'Year'])

In [57]:
PFD_BR = PFD_BR_Grp[PFD_BR_Gp]
Final_Table = PFD_BR
# %sql PERSIST Final_Table
Final_Table.head()

,Country or Area,Decade,Live Births per 1000,Live Births per 1000(Adolescent),Contraceptive_prevelence,Annual_growth_rate
0,Afghanistan,1960's,7.4500,149.62400,NaN,2.207151
1,Afghanistan,1970's,7.4500,152.26138,1.60,2.115672
2,Afghanistan,1980's,7.4595,162.62600,NaN,-1.672544
3,Afghanistan,1990's,7.5680,168.04400,NaN,5.778046
4,Afghanistan,2000's,6.7765,133.32438,14.04,3.266423